.DS_Store
public/
/resources/
.hugo_build.lock
static/resources/references/핵토200_CAOS_NW_V14.pdf
static/resources/references/데이터품질관리_20260613.pdf
static/resources/references/핵토200_01소프트웨어공학_v13.pdf
static/resources/references/KPC_DB특강_20240907 .pdf
